/Knihovna/build/
/2.1/JAVA/na zk/auto/nbproject/private/
/2.1/JAVA/na zk/auto/build/
/2.1/JAVA/na zk/JavaApplication27/nbproject/private/
/2.1/JAVA/na zk/JavaApplication27/build/
/2.2/JAVA 2/Projects/01-banka/nbproject/private/
/2.2/JAVA 2/Projects/01-banka/build/
/2.2/JAVA 2/Projects/02-evidenceVozidel/nbproject/private/
/2.2/JAVA 2/Projects/02-evidenceVozidel/build/
/2.2/Webovky/projects/.idea/
/2.2/Webovky/projects/.vscode/
Meine things/kurz/Build an Asteroids Game/asteroid-game/__pycache__/constants.cpython-313.pyc
.DS_Store
/2.2/JAVA 2/Projects/JavaApplication30/nbproject/private/
/2.2/JAVA 2/Projects/JavaApplication30/build/
naMulti.md
/2.2/JAVA 2/Projects/kolekceZK/nbproject/private/
/2.2/JAVA 2/Projects/02/nbproject/private/
/2.2/JAVA 2/Projects/02/build/
/2.2/JAVA 2/Projects/kolekceZK/build/
/2.2/JAVA 2/Projects/AutaCviceni/nbproject/private/
/2.2/JAVA 2/Projects/AutaCviceni/build/
/2.2/JAVA 2/Projects/jes/nbproject/private/
/2.2/JAVA 2/Projects/jes/build/
2.2/C-Sharp/Projects/MyWebAppMVC/MyWebAppMVC/.idea/.idea.MyWebAppMVC.dir/.idea/copilot.data.migration.ask2agent.xml
.ccls-cache/
