/Knihovna/build/
/2.1/JAVA/na zk/auto/nbproject/private/
/2.1/JAVA/na zk/auto/build/
/2.1/JAVA/na zk/JavaApplication27/nbproject/private/
/2.1/JAVA/na zk/JavaApplication27/build/
/2.2/JAVA 2/Projects/01-banka/nbproject/private/
/2.2/JAVA 2/Projects/01-banka/build/
/2.2/JAVA 2/Projects/02-evidenceVozidel/nbproject/private/
/2.2/JAVA 2/Projects/02-evidenceVozidel/build/
/2.2/Webovky/projects/.idea/
/2.2/Webovky/projects/.vscode/
